<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Exito</title>
<link href="css/admin.css" rel="stylesheet">
</head>
<body id="page-top" class="back">

	<div class="container-fluid">
		<div class="card mb-4">
		<h1 class="titulo">Se ha ingresado el producto</h1>
			<div class="card-body">
				
				<div class="form-group centro"><a href="/producto"><input type="submit" class="btn btn-primary " value="Agregar Nuevo Producto"></a></div>
			</div>
		</div>	
	</div>
	

</body>
</html>